.tile {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 12px;
}

.tile .name {  }

.tile:hover {
    cursor: pointer;

    text-decoration: underline;
}



.tile:hover .remove {
    visibility: visible;
}

.tile .remove {
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    background-color: #ddd;
}

.tile .remove {
    float: right;
    visibility: hidden;
    margin-left: 5px;
}



.tile .image, .tile .name{
    display: inline-block;
    vertical-align: middle;
}

.tile.add .image {
    text-align: center;
}
