.tile {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 12px;
}

.tile .name {  }

.tile:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #ddd;
}



.tile:hover .remove {
    visibility: visible;
}

.tile:hover .remove:hover {
    box-shadow: 2px 2px 2px #ddd;
    background-color: #ddd;
}

.tile .remove {
    float: right;
    visibility: hidden;
    margin-left: 5px;
}



.tile .image, .tile .name{
    display: inline-block;
    vertical-align: middle;
}

.tile.add .image {
    text-align: center;
}