<span *ngIf="editMode">
        <ng2-autocomplete [source] = "autocompleteSource">
            <input type="text" value="{{value}}" #f>
        </ng2-autocomplete>
        <input type="button" value="save" (click)="changeValue(f.value); editMode = false">
        <input type="button" value="cancel" (click)="editMode = false">
</span>
<span *ngIf="!editMode" class="editable-field" (click)="editMode = true">
        <span *ngIf="!value" class="empty-value">
                {{emptyValue}}
        </span>
        <span *ngIf="value">{{value}}</span>
</span>