.video-tile {
    box-shadow: 1px 1px 5px #ddd;
    margin: 2px;
    min-width: 1280px;
}
.video-tile:hover {
    box-shadow: 2px 2px 10px #999;

}

.thumb {
    width: 320px;
    height: 120px;
    overflow: hidden;
}

.thumb, .data, video-info {
    display: inline-block;
    vertical-align: top;
}


h2, h3 {
    margin: 0;
    padding: 0;
}
