.videos {
    padding: 20px;
}

.video {
    padding: 20px;
    width: 1024px;
}

.thumb {
    width: 480px;
}

video-info {
    width: 500px;
}
.thumb, .data, video-info {
    display: inline-block;
    vertical-align: top;
}

h2, h3 {
    margin: 0;
    padding: 0;
}