<div class="videos">
    <div *ngFor="#video of videos" class="video">
        <div class="thumb">
            <img [src]="getThumbnail(video.id)">
        </div>
        <div class="data">
            <h2>{{video.title}}</h2>
            <div>{{video.publishedAt}}</div>

            <h3>Performers:</h3>
            <div *ngFor="#performer of video.performers">
                {{performer.name}}
            </div>
            <h3>Songs:</h3>
            <div *ngFor="#performer of video.songs" class="video">
                <img [src]="getThumbnail(video.id)">
            </div>

            <h3>Event:</h3>
            <div *ngFor="#performer of video.event" class="video">
                <img [src]="getThumbnail(video.id)">
            </div>

            <h3>Location:</h3>
            <div *ngFor="#performer of video.event" class="video">
                <img [src]="getThumbnail(video.id)">
            </div>



        </div>
    </div>
</div>