h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
}

.data {
    padding: 10px;
    position: relative;
    width: 640px;
}

.data .admin-controls {
    display: none;
    position: absolute;
    left: -25px;
    top: 0;
    width: 20px;
    background-color: #fff;
}

.data:hover .admin-controls {
    display: block;
}
.data:hover .admin-control:hover {
    box-shadow: 2px 2px 2px #444;
    background-color: #eeeeee;
    cursor: pointer;
}
.data:hover .admin-control {
    background-color: #ffffff;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.data a {
    text-decoration: none;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line {
    padding: 0 8px;
    font-size: 12px;
}


.quick.quick-dance {
    background-color: #ff572f;
    color: #fff;
}

.quick.quick-music {
    background-color: #ffcb00;
    color: #fff;
}

.quick.quick-non-tango {
    background-color: #d5d4d3;
    color: #999;
}

.quick.quick:hover {
    background-color: #000;
    color: white;
    box-shadow: 2px 2px 2px #999;
}

.quick {

    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #d5d4d3;
    color: #999;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
}