<div class="data" *ngIf="video.hidden">
    <h2><a class="youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}"></a>{{video.title}}
    </h2>
    This video has been hidden
    <div (click)="recover()">recover</div>
</div>
<div class="data" *ngIf="!video.hidden && !video.complete">
    <div class="line">
        <h2>
            <a class="youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}">
                <icon name="youtube"></icon>
            </a>
            {{video.title}}
        </h2>
    </div>
    <div class="line">{{video.description}}</div>

    <div class="line">
        <icon name="date"></icon>
        <editable-field (update)="handleUpdate('recordedAt', $event)"
                        emptyValue="Unknown date"
                        label="Date"
                        [value]="toDate(video.publishedAt, video.recordedAt)|date">
        </editable-field>
    </div>
    <div class="line">
        <dancer-tile [readonly]="readonly" [dancers]="video.dancers" (add)="addDancer($event)"
                     (remove)="removeDancer($event)"></dancer-tile>
    </div>
    <div class="line">
        <song-list [readonly]="readonly" [songs]="video.songs" (update)="updateSong($event)"></song-list>
    </div>
    <div class="admin-controls" needs-permission="video:write">
        <div (click)="hide()" class="hide admin-control">&times;</div>
        <div (click)="markComplete(true)" class="complete admin-control">✓</div>
    </div>

    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].orquestra"
                          [text]="video.title+video.description"
                          [options]="orquestras"
                          (addSuggestion)="updateSong({index: 0, field: 'orquestra',data: $event})"
                          label="Suggested orquestras"
    ></clickable-suggestion>
    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].name"
                          [text]="video.title+video.description"
                          [options]="songNames"
                          (addSuggestion)="updateSong({index: 0, field: 'name',data: $event})"
                          label="Suggested song names"
    ></clickable-suggestion>
    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].genre"
                          [text]="video.title+video.description+'tangovalsmilonga'"
                          [options]="[{key: 'Tango', value: 'Tango'},{key: 'Milonga', value: 'Milonga'},{key: 'Vals', value: 'Vals'}]"
                          (addSuggestion)="updateSong({index: 0, field: 'genre',data: $event})"
                          label="Suggested genres"
    ></clickable-suggestion>


</div>


<div class="data" *ngIf="!video.hidden && video.complete">
    <div class="line">
        <dancer-tile [readonly]="true" [dancers]="video.dancers" (add)="addDancer($event)"
                     (remove)="removeDancer($event)"></dancer-tile>
    </div>
    <div class="line">
        <song-list [readonly]="true" [songs]="video.songs" (update)="updateSong($event)"></song-list>
    </div>
    <div class="line">
        <icon name="date"></icon>
        {{toDate(video.publishedAt, video.recordedAt)|date}}
    </div>


    <div class="admin-controls">
        <div (click)="markComplete(false)" class="complete admin-control">⎌</div>
    </div>
</div>
