<div class="data" *ngIf="video.hidden">
    <h2><a class="youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}"></a>{{video.title}}
    </h2>
    This video has been hidden
    <div (click)="recover()">recover</div>
</div>

<div class="data readonly" needs-permission = "loggedOut">
    <div>
        <span *ngFor="#dancer of video.dancers; #last = last, #index = index">
            <span *ngIf="last && !index == 0">{{first}}and</span>
            <span class="dancer">{{dancer}}</span>
        </span>
    </div>

    <div class="line song">
        <span *ngFor="#song of video.songs">
        <icon name="song"></icon><span>{{song.name}}</span> by <span>{{song.orquestra}}</span>
        </span>
    </div>
</div>

<div class="data"  needs-permission = "video:read">
    <div class="line">
        <h2>
            <a class="youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}">
                <icon name="youtube"></icon>
            </a>
            {{video.title}}
        </h2>
    </div>
    <div class="line description">{{video.description}}</div>

    <div class="line">
        <icon name="date"></icon>
        <editable-field (update)="handleUpdate('recordedAt', $event)"
                        emptyValue="Unknown date"
                        [value]="toDate(video.publishedAt, video.recordedAt)|date">
        </editable-field>
        <editable-field (update)="handleUpdate('event', $event)"
                        emptyValue="Unknown event"
                        [value]="video.event">
        </editable-field>
        <editable-field (update)="handleUpdate('event instance', $event)"
                        emptyValue="Unknown event instance"
                        [value]="video.eventInstance">
        </editable-field>
    </div>
    <div class="line">
        <dancer-tile [readonly]="readonly" [dancers]="video.dancers" (add)="addDancer($event)"
                     (remove)="removeDancer($event)"></dancer-tile>
    </div>
    <div class="line">
        <song-list [readonly]="readonly" [songs]="video.songs" (update)="updateSong($event)"></song-list>
    </div>
    <div class="line">
        <span *ngIf="!video.type">
            <span class="quick-dance quick" (click)="handleUpdate('type', 'Dance performance')">D</span>
            <span class="quick-music quick" (click)="handleUpdate('type', 'Music performance')">M</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Tango history')">H</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Milonga Moments')">MM</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Tango Lesson')">L</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Promo')">P</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Folklore')">F</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Chacarera')">C</span>
            <span class="quick-non-tango quick" (click)="handleUpdate('type', 'Not tango')">N</span>
        </span>
        <editable-field (update)="handleUpdate('type', $event)"
                        emptyValue="Unknown type"
                        label="Type"
                        [value]="video.type">
        </editable-field>
    </div>

    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].orquestra"
                          [text]="video.title+video.description"
                          [options]="orquestras"
                          (addSuggestion)="updateSong({index: 0, field: 'orquestra',data: $event})"
                          label="Suggested orquestras"
    ></clickable-suggestion>
    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].name"
                          [text]="video.title+video.description"
                          [options]="songNames"
                          (addSuggestion)="updateSong({index: 0, field: 'name',data: $event})"
                          label="Suggested song names"
    ></clickable-suggestion>
    <clickable-suggestion *ngIf="!video.songs[0] || !video.songs[0].genre"
                          [text]="video.title+video.description+'tangovalsmilonga'"
                          [options]="[{key: 'Tango', value: 'Tango'},{key: 'Milonga', value: 'Milonga'},{key: 'Vals', value: 'Vals'}]"
                          (addSuggestion)="updateSong({index: 0, field: 'genre',data: $event})"
                          label="Suggested genres"
    ></clickable-suggestion>
</div>