.input-wrapper {
    margin: 20px;
}

input {
    height: 40px;
    text-indent: 20px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: 0 solid;
    border-bottom: 3px solid #400;
    box-shadow: 1px 1px 5px #ddd;
}

input[type=submit] {
    background: #dddddd;
    border: 0 solid;
}

label  {
    margin: 20px;
}