<div class="data" *ngIf="video.hidden">
    <h2><a class = "youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}"></a>{{video.title}}</h2>
    This video has been hidden <div (click)="recover()">recover</div>
</div>
<div class="data" *ngIf="!video.hidden">
    <h2><a class = "youtube-social-icon-red-24px" href="https://www.youtube.com/watch?v={{video.id}}"></a>{{video.title}}</h2>
    <div>{{toDate(video.publishedAt)|date}}</div>
    <dancer-tile [readonly]="readonly" [dancers]="video.dancers" (add)="addDancer($event)" (remove)="removeDancer($event)" ></dancer-tile>
    <h3>Songs:</h3>
    <song-list  [readonly]="readonly" [songs] = "video.songs" (update) = "updateSong($event)"></song-list>
    <div (click)="hide()">Hide</div>
</div>