h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 300px;
}
.data {
    padding: 0 10px;
}

.hide {
    float: right;
    font-size: 10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
