h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
}

.data {
    padding: 10px;
    position: relative;
    width: 800px;
}

.data .admin-controls {
    display: none;
    position: absolute;
    left: -25px;
    top: 0;
    width: 20px;
    background-color: #fff;
}

.data:hover .admin-controls {
    display: block;
}
.data:hover .admin-control:hover {
    box-shadow: 2px 2px 2px #444;
    background-color: #eeeeee;
    cursor: pointer;
}
.data:hover .admin-control {
    background-color: #ffffff;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
}


h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line {
    padding: 4px 8px;
    font-size: 12px;
}
