<label>Paste video URL: </label>


<div class="input-wrapper">
    <input #url [value]="value" (keyup)="updateValue(url.value)"/>
</div>
<div *ngIf="loading">
    loading...
</div>

<div *ngIf="!loading">
    <div *ngIf="video">
        <video-preview [video]="video"></video-preview>
    </div>

    <div class="input-wrapper" *ngIf="!exists" (click)="add(url)">
        <input type="submit" value="Add">
    </div>
    <div class="input-wrapper" *ngIf="exists">
        This video exists
    </div>
</div>