.header {
    padding: 0 20px;
    box-shadow: 2px 0 10px #999;
    min-width: 1000px;
}
.profile {
    float: right;
}

.title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}


.icon, .title, .profile, .menu {
    vertical-align: middle;
    display: inline-block;
}
