<div>

    <div>
        <icon name = "song"></icon>
        [<editable-field (update)="handleUpdate('genre', $event)" emptyValue="Unknown Genre" label="genre"
                         updateValue [readonly]="readonly" [value]="song.genre" [autocompleteSource]="genreSource"></editable-field>]

        <editable-field (update)="handleUpdate('orquestra', $event)" emptyValue="Unknown Orquestra" label="orquestra"
                        updateValue  [readonly]="readonly" [value]="song.orquestra" [autocompleteSource]="orquestraSource"></editable-field>
        -
        <editable-field (update)="handleUpdate('name', $event)" emptyValue="Unknown Song" label="name"
                        [value]="song.name" [autocompleteSource]="songSource"  [readonly]="readonly" ></editable-field>,<editable-field (update)="handleUpdate('year', $event)" label="Unknown Genre" [value]="song.year"
                        emptyValue="Unknown Year" [autocompleteSource]="yearSource" [readonly]="readonly"></editable-field>
    </div>
</div>
