.music-note-music-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+0lEQVR42sXSMUgCURyA8RMFIXJSbMglBxE3RwNBJJdAbI50dxd0EHUywckhxD1CcBGhucZob3BXCnTQVQP9Hr6D63HnvSYf/Abv3v+7e5weQ3+FcIsCMuij7nEZiiEvh67htdz7QMopIJ7whMSRuGPAhznCLm/nGLjAj831FV4xRhZJncAMEzn0jq28XsWdW6CMAXY2e7QCcUwdzn+awA1KCEq7/wRqaMO6/89njKKBNDZy2AycYwm/8qA3ZEXgCp/G4b9uXWYggIUSEK//gBcR6KKiDIsNl/iWv+/xiAi+5HGGhjxTEy0l8IyiobFE4Awd5LDGCD386gT2VBw6ESrDvN8AAAAASUVORK5CYII=);
}