<div *ngIf="saving">
    Please wait, saving your changes.
</div>
<div *ngIf="!saving">
    <div *ngFor="#dancer of dancers" class="dancer-item">
        <div *ngIf="dancer == ''">
            <ng2-autocomplete [source]="dancersSource">
                <input focus="true" #f type="text">
            </ng2-autocomplete>
            <input type="submit" value="Add dancer" (click)="addDancer(f.value)">
        </div>

        <div *ngIf="dancer != ''" class="tile" [routerLink]="['Dancers', {id: dancer}]">
            <div class="name">{{dancer}}</div>
            <div class="remove" (click)="removeDancer($event, dancer)">&times;</div>
        </div>
    </div>
    <div (click)="addNewInput()" class="tile add">
        <div class="image">+</div>
        <div class="name">Add dancer</div>
    </div>
</div>